# Nyckel, hemlighet och tillåtna domäner
API_KEY=""
API_SECRET=""
ALLOWED_ORIGINS=""

# API-adress och endpoints
API_BASE_URL="https://gotlib.goteborg.se/iii/sierra-api/v6"
TOKEN_ENDPOINT="/token"
QUERY_ENDPOINT="/bibs/query"
ITEMS_ENDPOINT="/items"

# Queryparametrar och Item-fields att hämta
QUERY_OFFSET=0
QUERY_LIMIT=10
QUERY_LIBRIS_ID="tag:j"
QUERY_ISBN="tag:i"
QUERY_ISSN="marcTag:022"
QUERY_ONR="marcTag:035"
ITEM_FIELDS="location,callNumber,status"

# App = active och loggninginställningar
ACTIVE=true
LOG_LEVEL=debug
LOG_DESTINATION=""